<form action="{% url 'book:create_book' %}" method="post">
    {% csrf_token %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>