<p>
    Book Info
</p>
<ul>
    <li>
        <p>Title: {{ book.title }}</p>
        <p>Description: {{ book.desc }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Uploader: {{ book.uploader.username }}</p>
    </li>
</ul>