<p>All books</p>
<ul>
    {% for book in books %}
        <li>
            <p>Title: {{ book.title }}</p>
            <p>Description: {{ book.desc }}</p>
            <p>Author: {{ book.author }}</p>
            <p>Uploader: {{ book.uploader.username }}</p>
        </li>
    {% endfor %}
</ul>
