<p>
    Welcome {{ user.username }}
</p>
<p>
    Here is your profile
</p>
<ul>
    <li>
        <p>Fullname: {{ user.last_name }} {{ user.first_name }}</p>
    </li>
    <li>
        <p>Email: {{ user.email }}</p>
    </li>
</ul>
<div>
    <a href="{% url 'register:logout_user' %}">Logout</a>
</div>